


.bhatti{
    margin: 20px;
    text-decoration: none;
}
.img{
text-align: right;
}
.by{
    width: 100px;
    text-align: center;


}
.bhai{
    margin: 50px;
    padding: 20px;
    width: 100px;
    background-color: bisque;
    color: white;
    border: 4px dotted black;
}